@value primary, secondary from "stubs/utils.css";

@value fontFamily: "elevio-noto-sans", Helvetica, Arial, sans-serif;

.button {
  border-color: primary;
  font-family: "noto-sans", Helvetica, Arial, sans-serif;
}

.headingColor {
  color: secondary;
}

.redHeading {
  composes: headingColor;
}

.margin {
  composes: marginUtils from 'stubs/utils.css';
}

.doNotMangleMe {
  color: blue;
}

.unusedLocalClass {
  color: red;
}

/* reserved javascript word */
.catch {
  color: purple;
}

/* illegal dashes */
.dash-dash-dash {
  color: purple;
}