@value primary, secondary from "tests/stubs/utils.css";

.button {
  border-color: primary;
}

.headingColor {
  color: secondary;
}

.redHeading {
  composes: headingColor;
}

.margin {
  composes: marginUtils from 'tests/stubs/utils.css';
}

.ignoreThisClass {
  color: blue;
}